.header
{
    background-color: $color_header;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid black;
    width: 100%;
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        text-align: center;

        p{
            margin: 16px 0;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;

        .nav__ul{
            display: flex;
            justify-content: space-between;
            width: 80%;
            height: 40%;
            margin: 20px;
            padding: 0%;
            list-style-type: none;


            .ul__li:not(.cart){
                display: inline-block;
                border-bottom: $linea_botones solid;
                transition: all 0.5s;
                &:hover{
                    transform: scale(2);
                }
                .fas {
                    font-size: 24px;
                }
            }
        }
    }

    
}